.agenda {
  &__container {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
    max-width: 650px;

    h2 {
      font-size: 2.25rem;
      font-weight: 600;
      letter-spacing: -1px;
      padding-bottom: 2rem;
      border-bottom: 1px solid var(--color-border);
      margin-bottom: 2rem;

      @media screen and (min-width: 768px) {
        white-space: nowrap;
        font-size: 2.75rem;
      }
    }

    p {
      color: var(--color-muted);
      line-height: 1.6;
    }

    @media screen and (min-width: 768px) {
      max-width: 660px;
    }
  }

  &__list {
    display: grid;
    gap: 3rem;

    @media screen and (min-width: 768px) {
      gap: 4rem;
    }
  }

  &__item {
    list-style: none;
    display: grid;
    gap: 1.5rem;
    
    h3 {
      font-size: 1.5rem;
      letter-spacing: -0.24px;
      font-weight: 600;
      color: var(--color-purple);
    }

    @media screen and (min-width: 768px) {
      gap: 1.75rem;
    }
  }

  &__timeline {
    display: grid;
    gap: 1.5rem;

    @media screen and (min-width: 768px) {
      gap: 2rem;
    }
  }

  &__time {
    display: grid;
    gap: 0.25rem;

    h4 {
      font-weight: 600;
    }
  }
}
