.reasons {
  &__container {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
    max-width: 650px;

    h2 {
      font-size: 2.25rem;
      font-weight: 600;
      letter-spacing: -1px;
      padding-bottom: 2rem;
      border-bottom: 1px solid var(--color-border);
      margin-bottom: 2rem;

      @media screen and (min-width: 768px) {
        font-size: 2.75rem;
      }
    }

    p {
      line-height: 1.6;
      color: #bdc3c7;
      text-align: justify;
    }

    & > p {
      margin-top: 3rem;
    }

    a {
      text-decoration: underline;
    }

    @media screen and (min-width: 768px) {
      max-width: 660px;
    }
  }

  &__group {
    display: grid;
    gap: 2.75rem;
  }

  &__item {
    list-style: none;
    display: grid;
    gap: 1rem;

    h3 {
      font-size: 1.5rem;
      letter-spacing: -0.24px;
    }
  }

  &__texts {
    display: grid;
    gap: 1rem;
  }
}
