.agendas {
  &__list {
    display: grid;
    gap: 1.5rem;

    @media screen and (min-width: 375px) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }

  &__item {
    padding: 1.5rem;
    border-radius: 20px;
    background-color: var(--color-gray);
    display: grid;
    gap: 1.5rem;
    justify-items: start;

    button {
      width: auto;
      align-self: end;
    }
  }

  &__copy {
    display: grid;
    gap: 1rem;
    align-self: start;

    h3 {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.5;

      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
        line-height: 1.4;
      }
    }

    p {
      line-height: 1.6;
      color: var(--color-muted);
    }
  }

  &__cta {
    cursor: not-allowed;
  }
}
